@import "../theme/variables.scss";
ion-navbar {
    padding: 0 !important;
    min-height: 0 !important;
    .toolbar-background {
        background-color: map-get($colors, primary);
    }
    ion-grid.grid {
        padding: 0 !important;
    }
    h1.col {
        font-family: 'Walkway-Bold', Arial;
        margin: 0;
        padding: 0;
        letter-spacing: .17rem;
        color: map-get($colors, light);
    }
    ion-icon,
    ion-icon.col {
        color: map-get($colors, light);
        font-size: 2.6rem;
        padding: 0 1rem;
        margin-right: .5rem;
    }
}